<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="keywords" content="استارتاپ, برنامه نویسی اندروید, طراحی سایت, طراحی وب، برنامه نویسی ios, طراحی اپ, طراحی استارت آپ, اتوماسیون, تحلیل استارتاپ, " />
    <meta name="title" content="سیستم های هوشمند ایران زمین">
    <meta name="description"
          content="تحلیل و بررسی موشکافانه ایده استارتاپی شما توسط تیم مجرب و با سابقه ایزیسیس، طراحی انحصاری نرم افزار اعم از اپ موبایل (هم اندروید و هم iOS) و وب سایت متناظر با آن جهت استفاده مشتریان شما، پنل مدیریت جهت بررسی عملکرد کلی سیستم به همراه گزارش های متعدد و در نهایت انتشار پروژه در مارکت های معتبر داخلی و خارجی مانند Google Play Store و Apple App Store و در نهایت همراهی شما با پلن های متعدد پشتیبانی و ارائه گارانتی نرم افزار، همه و همه در مجموعه تولید نرم افزار سیستم های هوشمند ایران زمین به بهترین نحو ممکن انجام می شود.">
    <meta property="og:image" content="http://izisys.com/images/logo_new_izisys_bi_saye_jadid_kuchak.png">
    <meta property="og:url" content="http://izisys.com">

    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>استارتاپ, برنامه نویسی اندروید, طراحی سایت, طراحی وب، برنامه نویسی ios, طراحی اپ, طراحی استارت آپ, اتوماسیون, تحلیل استارتاپ,  - سیستم های هوشمند ایران زمین</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110118453-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-110118453-1', { 'optimize_id': 'GTM-M222L3X'});
    </script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
