<template>
    <div id="aboutUs"
         class="container-fluid has-action-bar bg-music">
        <ActionBar :title="title"></ActionBar>
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-7 col-12">
                    <span class="light-text font20px d-block">{{ $getText("ABOUT-US-PAGE-TITLE")}}</span>
                    <span class="gray-text font14px d-block pt-3">{{ $getText("ABOUT-US-PAGE-DESC1")}}</span>
                    <span class="gray-text font14px pt-3 d-lg-block d-none">
                     {{ $getText("ABOUT-US-PAGE-DESC2")}}
                    <br><br>
                        {{ $getText("ABOUT-US-PAGE-DESC3")}}
                    </span>
                </div>
                <div class="col-lg-5">
                    <img src="../assets/img/aboutus-copy-01.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <FooterMenu class="d-lg-block d-none"/>
    </div>
</template>

<script>
    import ActionBar from "./ActionBar";
    import FooterMenu from "./FooterMenu";

    export default {
        name: "AboutUs",
        components: {FooterMenu, ActionBar},
        data: () => ({
            title: "درباره ما",

        }),
    }
</script>

<style scoped>

</style>