<template>
    <div id="actionBarWrapper"
         class="row secondary-text">
        <div class="col-12 align-content-center d-flex justify-content-between">
            <div class="align-items-center d-flex pointer" @click="goBack">
      <span class="action-bar-back light-text d-flex">
        <i class="fal fa-long-arrow-right font-weight-bold font19px"></i>
      </span>
                <span class="font16px light-text d-flex mr-3 mt-1">{{ title }}</span>
            </div>
            <div class="align-items-center d-flex pointer">
         <span @click.stop="drawer = !drawer">
            <i class="fal fa-bars font19px font-weight-bold light-text d-flex pointer d-lg-none"></i>
         </span>
                <div class="text-left align-items-center d-lg-flex d-none">
                    <div class="align-items-center primary-text px-5 pt-2 pointer">
                        <div class="text-center">
                            <router-link to="/Home" class="light-text">{{ $getText("MENU_ITEM_HOME")}}</router-link>
                        </div>
                    </div>

                    <div class="align-items-center primary-text px-5 pt-2 pointer">
                        <div class="text-center">
                            <router-link to="/Services" class="light-text">{{ $getText("MENU_ITEM_SERVICES")}}</router-link>
                        </div>
                    </div>

                    <div class="align-items-center primary-text px-5 pt-2 pointer">
                        <div class="text-center">
                            <router-link to="/CurrentProjects" class="light-text">{{ $getText("MENU_ITEM_CURRENT-PROJECT")}}</router-link>
                        </div>
                    </div>

                    <div class="align-items-center primary-text px-5 pt-2 pointer">
                        <div class="text-center ">
                            <router-link to="/AllProducts" class="light-text">{{ $getText("MENU_ITEM_PRODUCTS")}}</router-link>
                        </div>
                    </div>

                    <div class="px-5 align-items-center primary-text pt-2 pointer">
                        <div class="text-center ">
                            <router-link to="/ContactUs" class="light-text">{{ $getText("MENU_ITEM_CONTACT")}}</router-link>
                        </div>
                    </div>

                    <div class="px-5 align-items-center primary-text pt-2 pointer">
                        <div class="text-center ">
                            <router-link to="/AboutUs" class="light-text">{{ $getText("MENU_ITEM_ABOUT")}}</router-link>
                        </div>
                    </div>

                    <div class="px-5 align-items-center primary-text pt-2 pointer">
                        <div class="text-center">
                            <router-link to="/" class="light-text">{{ $getText("MENU_ITEM_SUPPORT")}}</router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <SidebarNavigation :drawer="drawer"/>
    </div>
</template>

<script>

    import SidebarNavigation from "./SidebarNavigation";

    export default {
        name: "ActionBar",
        props: ['title'],
        components: {SidebarNavigation},
        data: () => ({
            drawer: false,
        }),
        methods: {
            goBack() {
                this.$router.go(-1);
            }
        }
    }
</script>

<style scoped>

</style>
