<template>
    <div id="productDetail" class="container-fluid has-action-bar bg-music" v-if="isDataLoaded">
        <ActionBar :title="allProject.title"></ActionBar>
        <div class="container round10px p-3 mx-auto">
            <div class="row align-items-center justify-content-center dark-bg round10px pt-5 pb-5">
                <div class="col-md-8 col-12">
                    <h3 class="light-text mb-5">
                        {{ allProject.title}}
                    </h3>
                    <h5 class="light-text mb-2">
                        {{ allProject.summary}}
                    </h5>
                    <span class="gray-text">
                        {{ allProject.desc}}
                    </span>
                </div>
                <div class="col-md-4 col-12">
                    <img :src="getImgUrl('allProject/'+ allProject.imageRoot + '/main.png')"
                         alt="عکس"
                         class="img-fluid">
                </div>

                <div class="col-12">
                    <div class="">
                        <img class="image img-fluid col-md-3"
                             v-for="(image, i) in images" :src="image" :key="i"
                             @click="index = i">
                        <vue-gallery-slideshow
                                :images="images"
                                :index="index"
                                @close="index = null">
                        </vue-gallery-slideshow>
                    </div>
                </div>
            </div>
        </div>
        <FooterMenu class="d-md-block d-none"/>
    </div>
</template>

<script>
    import ActionBar from "./ActionBar";
    import FooterMenu from "./FooterMenu";
    import VueGallerySlideshow from 'vue-gallery-slideshow';

    export default {
        name: "AllProductDetail",
        components: {
            ActionBar,
            FooterMenu,
            VueGallerySlideshow
        },
        data: () => ({
            images: [],
            index: null,
            title: null,
            hasData: true,
            products: [],
            allProject: {},
            isDataLoaded: false,
        }),
        mounted() {
            this.initData();
        },
        methods: {
            getImgUrl(pic) {
                return require('../assets/img/' + pic);
            },

            initData() {
                this.products = this.$getAllProjects();
                let id = this.$route.query.AllProductID;

                for (let i = 0; i < this.products.length; i++) {
                    if (this.products[i].id.toString() === id) {

                        this.allProject = this.products[i];
                        let tempGallery = [];
                        for (let j = 0; j < this.products[i].gallery.length; j++) {
                            tempGallery.push(this.getImgUrl(
                                'current/' + this.allProject.imageRoot + '/' + this.products[i].gallery[j]));
                        }
                        this.images = tempGallery;
                        this.isDataLoaded = true;
                        break;
                    }
                }
            },
        }
    }
</script>

<style scoped>

</style>