<template>
    <div id="allProducts"
    class="container-fluid has-action-bar bg-music">
        <ActionBar :title="title"></ActionBar>
        <div class="container">
        <div class="row">
            <div class="col-12 mx-auto">
                <span class="light-text font20px d-block">{{ $getText("PRODUCTS_PAGE_LIST_TITLE")}}</span>
                <span class="gray-text font16px d-block pt-3">{{ $getText("PRODUCTS_PAGE_LIST_DESC")}}</span>
            </div>

        </div>
        <div class="row pt-5" >
            <div class="col-12">
                <span class="light-text font20px d-block">{{ $getText("STARTUP-TITLE")}}</span>
            </div>

            <div v-for="item in products"
                 :key="item.id" class="col-md-4 col-sm-6">
                <div class="dark-bg round10px p-4 pointer" @click="gotoAllProductDetail(item.id, item.title)">
                    <img :src="getImgUrl(item.src)" :alt="item.name" class="img-fluid">
                    <h6 class="light-text font-weight-bold py-2 pointer">
                        {{item.title}}
                    </h6>
                    <span class="font12px gray-text text-over-flow">
                        {{item.desc}}
                    </span>
                </div>
            </div>
        </div>
        <div class="row pt-5" dir="ltr">
            <div class="col-12">
                <span class="light-text font20px d-block">{{ $getText("WEBSITE-TITLE")}}</span>
            </div>

            <div v-for="item in websites"
                 :key="item.id" class="p-2 col-md-6 col-sm-12">
                <div class="dark-bg round10px p-3">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-md-5 col-xs-12">
                            <img :src="getImgUrl('website/'+ item.imageRoot + '/Website.png')"
                                 :alt="item.title" class="img-fluid">
                        </div>
                        <div class="col-md-7 col-xs-12">
                            <h6 class="light-text font-weight-bold py-2">
                                {{item.title}}
                            </h6>
                            <h5 class="light-text py-2">
                                {{item.summary}}
                            </h5>
                            <span class="font12px gray-text text-over-flow">
                                {{item.description }}
                            </span>
                            <router-link :to="'/WebsiteDetail?WebsitesID='+item.id" class="btn-gradient">
                                {{ $getText("MORE")}}
                            </router-link>
                          <!--  <v-btn class="btn-gradient" @click="goToWebsiteDetail(item.id, item.title)">
                                {{ $getText("MORE")}}
                            </v-btn>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <FooterMenu class="d-md-block d-none"/>
    </div>
</template>

<script>
    import ActionBar from "./ActionBar";
    import FooterMenu from "./FooterMenu";
    export default {
        name: "AllProducts",
        components: {FooterMenu, ActionBar},
        data:() => ({
            title:"نمونه تولیدات",
            products:[],
            websites:[],
        }),
        mounted() {
            this.products = this.$getAllProjects();
            this.websites = this.$getWebsites();
        },
        methods:{
            getImgUrl(pic) {
                return require('../assets/img/' + pic)
            },
            navigateTo(path) {
                if (this.$router.currentRoute.fullPath.indexOf(path) === -1) {
                    this.$router.push({path: path});
                }
            },
            gotoAllProductDetail(id, title) {
                this.$global.allProductDetailTitle = title
                this.$router.push({path: 'AllProductDetail', query: {AllProductID: id}})
            },
            goToWebsiteDetail(id, title){
                this.$global.WebsiteDetailTitle = title
                this.$router.push({path: 'WebsiteDetail', query: {WebsitesID: id}})
            },
        }
    }
</script>

<style scoped>

</style>