<template>
    <div id="contactUs"
         class="container-fluid has-action-bar bg-music">
        <ActionBar :title="title"></ActionBar>
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <span class="light-text font20px d-block">{{ $getText("CONTACT_US_HEADER")}}</span>
                    <span class="gray-text font14px d-block">{{ $getText("CONTACT-US-HEADER-SECOND")}}</span>
                </div>
                <div class="col-md-3 align-items-center justify-content-center mx-auto">
                    <div class="text-center py-3">
                        <img :src="getImgUrl('viber.png')" alt="آیکون" width="70px">
                        <span class="d-block font12px gray-text pt-5 pb-5">{{ $getText("PHONE")}} :

                        </span>
                        <a class="light-text d-block" href="tel:02122637630">{{ $getText("PHONE-NUM1")}}</a>
                        <a class="light-text d-block" href="tel:02122006388">{{ $getText("PHONE-NUM2")}}</a>
                    </div>
                </div>
                <div class="col-md-3 align-items-center justify-content-center mx-auto">
                    <div class="text-center py-3">
                        <img :src="getImgUrl('mobile11.png')" alt="آیکون" width="70px">
                        <span class="d-block font12px gray-text pt-5 pb-5">
                            {{ $getText("MOBILE")}} :
                        </span>
                        <a class="light-text d-block" href="tel:02122637630">{{ $getText("MOBILE-NUM1")}}</a>
                        <a class="light-text d-block" href="tel:02122006388">{{ $getText("MOBILE-NUM2")}}</a>
                    </div>
                </div>
                <div class="col-md-3 align-items-center justify-content-center mx-auto">
                    <div class="text-center py-3">
                        <img :src="getImgUrl('pin.png')" alt="آیکون" width="70px">
                        <span class="d-block font12px gray-text pt-5 pb-5">
                            {{ $getText("ADDRESS-TITLE")}} :
                        </span>
                        <span class="light-text d-block">
                            {{ $getText("ADDRESS")}}
                        </span>
                    </div>
                </div>
                <div class="col-md-3 align-items-center justify-content-center mx-auto">
                    <div class="text-center py-3">
                        <img :src="getImgUrl('mail.png')" alt="آیکون" width="70px">
                        <span class="d-block font12px gray-text pt-5 pb-5">
                            {{ $getText("EMAIL")}} :
                        </span>
                        <span class="light-text d-block">
                            {{ $getText("EMAIL-TEXT")}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <FooterMenu class="d-lg-block d-none"/>
    </div>
</template>

<script>
    import ActionBar from "./ActionBar";
    import FooterMenu from "./FooterMenu";

    export default {
        name: "ContactUs",
        components: {FooterMenu, ActionBar},
        data: () => ({
            title: "تماس با ما",

        }),
        methods: {
            getImgUrl(pic) {
                return require('../assets/img/' + pic)
            },
        }
    }
</script>

<style scoped>

</style>