<template>
    <div id="currentProjects"
         class="container-fluid has-action-bar bg-music">
        <ActionBar :title="title"></ActionBar>
        <div class="container">
            <div class="row" dir="ltr">
                <div class="col-12 text-center">
                    <span class="light-text font20px d-block">{{ $getText("HOME_PAGE_CURRENT_LIST_TITLE")}}</span>
                </div>
                <div v-for="item in currents"
                     :key="item.id" class="col-md-6 col-sm-12">
                    <div class="dark-bg round10px p-3">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-md-5 col-xs-12">
                                <img :src="getImgUrl('current/'+item.imageRoot + '/main.png')"
                                     :alt="item.title" class="img-fluid">
                            </div>
                            <div class="col-md-7 col-xs-12">
                                <h6 class="light-text font-weight-bold py-2">
                                    {{item.title}}
                                </h6>
                                <h5 class="light-text py-2">
                                    {{item.summary}}
                                </h5>
                                <span class="font12px gray-text text-over-flow">
                                    {{item.description }}
                                </span>
                                <router-link :to="'/CurrentDetail?CurrentID='+item.id" class="btn-gradient">
                                    {{ $getText("MORE")}}
                                </router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <FooterMenu class="d-md-block d-none"/>
    </div>
</template>

<script>
    import ActionBar from "./ActionBar";
    import FooterMenu from "./FooterMenu";

    export default {
        name: "CurrentProjects",
        components: {
            ActionBar,
            FooterMenu,
        },
        data: () => ({
            title: "پروژه های جاری",
            currents: [],
        }),
        mounted() {
            this.currents = this.$getCurrentProjects();
        },
        methods: {
            getImgUrl(pic) {
                return require('../assets/img/' + pic)
            },
            navigateTo(path) {
                if (this.$router.currentRoute.fullPath.indexOf(path) === -1) {
                    this.$router.push({path: path});
                }
            },
            goToCurrentDetail(id, title) {
                this.$global.currentDetailTitle = title
                this.$router.push({path: 'CurrentDetail', query: {CurrentID: id}})
            },
        }
    }
</script>

<style scoped>

</style>