<template>
  <div id="currentDetail"
       class="container-fluid has-action-bar bg-music"
       v-if="isDataLoaded">
    <ActionBar :title="currentProject.title"></ActionBar>
    <div class="container round10px p-3 mx-auto">
      <div class="row align-items-center justify-content-center dark-bg round10px pt-5 pb-5">
        <div class="col-md-8 col-12">
          <h3 class="light-text mb-5 ">
            {{ currentProject.title }}
          </h3>
          <h5 class="light-text mb-2">
            {{ currentProject.summary }}

          </h5>
          <span class="gray-text">
            {{ currentProject.description }}
          </span>
        </div>
        <div class="col-md-4 col-12">
          <img :src="getImgUrl('current/'+ currentProject.imageRoot + '/main.png')"
               alt="عکس"
               class="img-fluid">
        </div>

       <!-- <div v-for="item in currentProject.gallery"
             :key="item"
             class="col-md-3">
          <div class="dark-bg round10px">
            <img :src="getImgUrl('current/'+ currentProject.imageRoot + '/main.png')"
                 alt="گالری"
                 class="img-fluid">
          </div>
        </div>-->
        <div class="col-12">
          <div class="">
          <img class="image img-fluid col-md-3" v-for="(image, i) in images" :src="image" :key="i" @click="index = i" >
          <vue-gallery-slideshow :images="images" :index="index" @close="index = null"></vue-gallery-slideshow>
        </div>
        </div>
      </div>
    </div>

    <FooterMenu class="d-md-block d-none"/>
  </div>
</template>

<script>
import ActionBar from "./ActionBar";
import FooterMenu from "./FooterMenu";
import VueGallerySlideshow from 'vue-gallery-slideshow';


export default {
  name: "CurrentDetail",
  components: {
    ActionBar,
    FooterMenu,
    VueGallerySlideshow
  },
  data: () => ({
    images: [],
    index: null,
    title: null,
    hasData: true,
    currents: [],
    currentProject: {},
    isDataLoaded: false,

  }),
  mounted() {
    this.initData();

  },
  methods: {
    getImgUrl(pic) {
      return require('../assets/img/' + pic);
    },

    initData() {
      this.currents = this.$getCurrentProjects();
      let id = this.$route.query.CurrentID;

      for (let i = 0; i < this.currents.length; i++) {
        if (this.currents[i].id.toString() === id) {
          this.currentProject = this.currents[i];

          let tempGallery = [];
          for (let j = 0; j< this.currents[i].gallery.length; j++){
            tempGallery.push(this.getImgUrl(
                'current/'+ this.currentProject.imageRoot + '/' + this.currents[i].gallery[j]));
          }

          this.images = tempGallery;
          this.isDataLoaded = true;
          break;
        }
      }
    },
  }
}
</script>

<style scoped>

</style>
