<template>
    <div id="footerMenu" class="row dark-bg">
        <div class="col-12">
            <div class="container">
                <div class="row align-items-start d-flex">
                    <div class="col-6">
                        <div class="d-flex align-items-center">
                            <img src="../assets/img/Logo.png" alt="لوگو" class="ml-2">
                            <span class="font20px light-text"> {{ $getText("APP_NAME")}}</span>
                        </div>
                        <span class="font12px gray-text pt-4 d-block">
                            {{ $getText("FOOTER-MENU-ABOUT-US-TEXT1")}}
                             <span class="gold-text">
                                {{ $getText("FOOTER-MENU-ABOUT-US-TEXT2-GOLD")}}
                            </span>
                            {{ $getText("FOOTER-MENU-ABOUT-US-TEXT3")}}
                        </span>

                        <span class="font12px gray-text pt-4 d-block">
                            {{ $getText("FOOTER-MENU-ABOUT-US-TEXT4")}}
                        </span>
                    </div>

                    <div class="col-6">
                        <h5 class="light-text d-block">{{ $getText("FOOTER-ITEM-CONTACT")}}</h5>
                        <span class="font12px gray-text pt-4 d-block">
                            {{ $getText("FOOTER-MENU-CONTACT-US-TEXT1")}}
                            <span class="gold-text">
                                {{ $getText("FOOTER-MENU-CONTACT-US-TEXT2-GOLD")}}
                            </span>
                            {{ $getText("FOOTER-MENU-CONTACT-US-TEXT3")}}
                        </span>
                        <br>
                        <a href="tel:" class="font12px light-text d-block">
                            <i class="fas fa-phone"></i>
                            {{ $getText("PHONE-NUM1")}}
                        </a>
                        <a href="tel:" class="font12px light-text d-block">
                            <i class="fas fa-phone"></i>
                            {{ $getText("PHONE-NUM2")}}
                        </a>
                        <a href="tel:" class="font12px light-text d-block">
                            <i class="fas fa-mobile"></i>
                            {{ $getText("MOBILE-NUM1")}}
                        </a>
                        <a href="tel:" class="font12px light-text d-block">
                            <i class="fas fa-mobile"></i>
                            {{ $getText("MOBILE-NUM1")}}
                        </a>
                        <a href="#" class="font12px light-text d-block">
                            <i class="fas fa-map-marker"></i>
                            {{ $getText("ADDRESS")}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: "FooterMenu",
        props: ['currentPage'],
        methods: {
            getClass(linkName) {
                let classList = "col text-center px-0 pb-0 pt-2 ";
                if (linkName === this.currentPage) {
                    classList += " active";
                }
                return classList;
            },
            navigateTo(path) {
                if (this.$router.currentRoute.fullPath.indexOf(path) === -1) {
                    this.$router.push({path: path});
                }
            },
        }
    }
</script>

<style scoped>

</style>
