<template>
    <div id="home"
         class="container-fluid bg-music has-action-bar">
        <div>
            <div id="homeActionBar"
                 class="row">
                <div class="col-12 align-items-center justify-content-between d-flex">
                    <div class="text-center align-items-center d-flex pointer">
                        <img :src="getImgUrl('Logo.png')" class="pl-1" :alt="$getText('APP_NAME')">
                        <div class="light-text font19px mt-2">{{ $getText("APP_NAME")}}</div>
                    </div>

                    <div class="text-left align-items-center d-flex pointer d-lg-none" @click.stop="drawer = !drawer">
                        <i class="fal fa-bars font19px font-weight-bold light-text"></i>
                    </div>

                    <div class="text-left align-items-center d-lg-flex d-none">
                        <div class="align-items-center primary-text px-5 pt-2 pointer">
                            <div class="text-center">
                                <router-link to="/Home" class="light-text">{{ $getText("MENU_ITEM_HOME")}}</router-link>
                            </div>
                        </div>
                        <div class="align-items-center primary-text px-5 pt-2 pointer">
                            <div class="text-center">
                                <router-link to="/Services" class="light-text">{{ $getText("MENU_ITEM_SERVICES")}}
                                </router-link>
                            </div>
                        </div>
                        <div class="align-items-center primary-text px-5 pt-2 pointer">
                            <div class="text-center">
                                <router-link to="/CurrentProjects" class="light-text">{{
                                    $getText("MENU_ITEM_CURRENT-PROJECT")}}
                                </router-link>
                            </div>
                        </div>
                        <div class="align-items-center primary-text px-5 pt-2 pointer">
                            <div class="text-center">
                                <router-link to="/AllProducts" class="light-text">{{ $getText("MENU_ITEM_PRODUCTS")}}
                                </router-link>
                            </div>
                        </div>
                        <div class="px-5 align-items-center primary-text pt-2 pointer">
                            <div class="text-center ">
                                <router-link to="/ContactUs" class="light-text">{{ $getText("MENU_ITEM_CONTACT")}}
                                </router-link>
                            </div>
                        </div>
                        <div class="px-5 align-items-center primary-text pt-2 pointer">
                            <div class="text-center">
                                <router-link to="/AboutUs" class="light-text">{{ $getText("MENU_ITEM_ABOUT")}}
                                </router-link>
                            </div>
                        </div>
                        <div class="px-5 align-items-center primary-text pt-2 pointer">
                            <div class="text-center">
                                <router-link to="/" class="light-text">{{ $getText("MENU_ITEM_SUPPORT")}}</router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 p-0">
                <div v-if="banner.length > 0">
                    <carousel
                            :autoplay="true"
                            :dots="false"
                            :items="1"
                            :margin="5"
                            :nav="false"
                            :rtl="true">
                        <div v-for="item in banner"
                             :key="item.id">
                            <img :src="getImgUrl(item.src)" alt="بنر" class="img-fluid">
                        </div>
                    </carousel>
                </div>
            </div>
        </div>
        <div v-if="services.length > 0" class="container">
            <div class="row">
                <div class="col-12">
                    <span class="light-text font20px d-block">{{ $getText("HOME_PAGE_SERVICES_LIST_TITLE")}}</span>
                    <span class="gray-text font16px d-block pt-3">{{ $getText("HOME-PAGE-SERVICES-LIST-DESC")}}</span>
                </div>

                <div v-for="item in services" :key="item.id" class="col-lg-3 col-md-3 col-6 p-2 ">
                    <div class="dark-bg round10px p-3">
                        <img :src="getImgUrl(item.src)" :alt="item.title" width="50px" height="50px">
                        <h6 class="light-text pt-3 pb-3">
                            {{ item.title }}
                        </h6>
                        <span class="d-lg-block d-none light-text font12px height-desc">
                            {{ item.desc}}
                        </span>
                        <router-link to="/Services" class="btn-gradient">
                            {{ $getText("MORE")}}
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="supports.length > 0" class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-7 col-12">
                    <span class="light-text font20px d-block">{{ $getText("HOME_PAGE_SUPPORT_LIST_TITLE")}}</span>
                    <span class="gray-text font14px d-block pt-3">{{ $getText("HOME_PAGE_SUPPORT_LIST_DESC1")}}</span>
                    <span class="gray-text font14px pt-3 d-lg-block d-none">
                     {{ $getText("HOME_PAGE_SUPPORT_LIST_DESC2")}}
                    <br><br>
                        {{ $getText("HOME_PAGE_SUPPORT_LIST_DESC3")}}
                    </span>
                </div>
                <div class="col-lg-5">
                    <img src="../assets/img/services-07.png" alt="" class="img-fluid">
                </div>

                <div class="row">
                    <div v-for="item in supports" :key="item.id" class="col-lg-4 col-md-6 col-12 pr-5 pl-5">
                        <div class=" d-flex ">
                            <div class="col-2 p-2">
                                <img :src="getImgUrl(item.src)" alt="" class="img-fluid">
                            </div>
                            <div class="col-10">
                                <h6 class="light-text font-weight-bold">
                                    {{item.title}}
                                </h6>
                                <span class="light-text font12px gray-text">
                                {{item.desc}}
                           </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="benefits.length > 0" class="container">
            <div class="row">
                <div class="col-12">
                    <span class="light-text font20px d-block">{{ $getText("HOME_PAGE_BENEFITS_LIST_TITLE")}}</span>
                    <span class="gray-text font16px d-block pt-3">{{ $getText("HOME_PAGE_BENEFITS_LIST_DESC")}} </span>
                </div>

                <div v-for="item in benefits" :key="item.id" class="col-lg-6 col-12">
                    <div class="row dark-bg round10px d-flex d-lg-none d-block">
                        <div class="col-12 d-flex align-items-center d-lg-none d-block">
                            <img :src="getImgUrl(item.src)" :alt="item.title">
                            <h6 class="light-text font-weight-bold px-3">
                                {{item.title}}
                            </h6>
                        </div>
                        <div class="col-12 d-lg-none d-block">
                           <span class="light-text font12px gray-text">
                                {{item.desc}}
                           </span>
                        </div>
                    </div>

                    <div class="dark-bg round10px d-lg-flex d-none p-2">
                        <div class="col-2 p-2 d-lg-block d-none text-center">
                            <img :src="getImgUrl(item.src)" :alt="item.title" width="60" height="60" class="mx-auto">
                        </div>
                        <div class="col-10 d-lg-block d-none">
                            <h6 class="light-text font-weight-bold">
                                {{item.title}}
                            </h6>
                            <span class="light-text font12px gray-text">
                                {{item.desc}}
                           </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="currents.length > 0" class="container">
            <div class="row">
                <div class="col-12">
                    <span class="light-text font20px d-block">{{ $getText("HOME_PAGE_CURRENT_LIST_TITLE")}}</span>
                    <span class="gray-text font16px d-block pt-3">{{ $getText("HOME_PAGE_CURRENT_LIST_DESC")}}</span>
                </div>
            </div>
            <div class="row mx-auto" dir="ltr">
                <div class="col-12 p-0">
                    <carouselLtr
                            :autoplay="false"
                            :dots="false"
                            :margin="7"
                            :nav="false"
                            :responsive="{0:{items:1,nav:false},600:{items:1,nav:false},900:{items:1,nav:false}}">
                        <div v-for="item in currents"
                             :key="item.id" class="p-2">
                            <div class="dark-bg round10px p-3">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col-md-4 col-xs-12">
                                        <img :src="getImgUrl('current/'+item.imageRoot + '/main.png')"
                                             :alt="item.title">
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        <h5 class="light-text font-weight-bold py-2">
                                            {{item.title}}
                                        </h5>
                                        <h4 class="light-text py-2">
                                            {{item.summary}}
                                        </h4>
                                        <span class="font12px gray-text text-over-flow">
                                            {{item.description }}
                                        </span>
                                        <router-link :to="'/CurrentDetail?CurrentID='+item.id" class="btn-gradient">
                                            {{ $getText("MORE")}}
                                        </router-link>
                                      <!--  <v-btn class="btn-gradient" @click="goToCurrentDetail(item.id, item.title)">
                                            {{ $getText("MORE")}}
                                        </v-btn>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </carouselLtr>
                </div>
            </div>
        </div>
        <div v-if="products.length > 0" class="container">
            <div class="row">
                <div class="col-12">
                    <span class="light-text font20px d-block">{{ $getText("HOME_PAGE_PRODUCTS_LIST_TITLE")}}</span>
                    <span class="gray-text font16px d-block pt-3">{{ $getText("HOME_PAGE_PRODUCTS_LIST_DESC")}}</span>
                </div>
            </div>
            <div class="row mx-auto" dir="ltr">
                <div class="col-12 p-0">
                    <carouselLtr
                            :autoplay="false"
                            :dots="false"
                            :margin="7"
                            :nav="false"
                            :responsive="{0:{items:1,nav:false},600:{items:2,nav:false},900:{items:2,nav:false}}">
                        <div v-for="item in products"
                             :key="item.id" class="p-2">
                            <div class="dark-bg round10px p-4 pointer"
                                 @click="gotoAllProductDetail(item.id, item.title)">
                                <img :src="getImgUrl(item.src)" :alt="item.title">
                                <h5 class="light-text font-weight-bold py-2">
                                    {{item.title}}
                                </h5>
                                <span class="font12px gray-text text-over-flow">
                                    {{item.desc}}
                                </span>
                            </div>
                        </div>
                    </carouselLtr>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="bg-gradient p-3 round10px">
                        <div class="d-flex align-items-center">
                            <img src="../assets/img/call.png" :alt="$getText('HOME_PAGE_PHONE_LIST_TITLE')"
                                 class="ml-2">
                            <h5>{{ $getText("HOME_PAGE_PHONE_LIST_TITLE")}}</h5>
                        </div>
                        <h6 class="p-2">{{ $getText("FAST-CONTACT")}}</h6>
                        <a href="tel:" class="font-weight-bold d-block">
                            <i class="fas fa-phone"></i>
                            {{ $getText("PHONE-NUM1")}}
                        </a>
                        <a href="tel:" class="font-weight-bold d-block">
                            <i class="fas fa-phone"></i>
                            {{ $getText("PHONE-NUM2")}}
                        </a>
                        <a href="tel:" class="font-weight-bold d-block">
                            <i class="fas fa-mobile"></i>
                            {{ $getText("MOBILE-NUM1")}}
                        </a>
                        <a href="tel:" class="font-weight-bold d-block">
                            <i class="fas fa-mobile"></i>
                            {{ $getText("MOBILE-NUM2")}}
                        </a>
                        <a href="#" class="font-weight-bold d-block">
                            <i class="fas fa-map-marker"></i>
                            {{ $getText("ADDRESS")}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <FooterMenu class="d-lg-block d-none"/>
        <SidebarNavigation :drawer="drawer"/>
    </div>
</template>

<script>
    import SidebarNavigation from "./SidebarNavigation";
    import carousel from 'xx-vue-owl-carousel';
    import carouselLtr from 'vue-owl-carousel';
    import FooterMenu from "./FooterMenu";


    export default {
        name: "Home",
        components: {
            FooterMenu,
            SidebarNavigation,
            carousel,
            carouselLtr
        },
        data: () => ({
            drawer: false,
            banner: [
                {id: 1, src: 'Banner.png'},
                {id: 2, src: 'Banner.png'},
            ],
            services: [],
            supports: [],
            benefits: [],
            products: [],
            currents: []

        }),
        mounted() {
            this.services = this.$getServices();
            this.supports = this.$getSupports();
            this.benefits = this.$getBenefits();
            this.products = this.$getAllProjects();
            this.currents = this.$getCurrentProjects();

            console.log(this.currents)
        },
        methods: {
            getImgUrl(pic) {
                return require('../assets/img/' + pic)
            },
            navigateTo(path) {
                if (this.$router.currentRoute.fullPath.indexOf(path) === -1) {
                    this.$router.push({path: path});
                }
            },
            goToCurrentDetail(id, title) {
                this.$global.currentDetailTitle = title
                this.$router.push({path: 'CurrentDetail', query: {CurrentID: id}})
            },
            gotoAllProductDetail(id, title) {
                this.$global.allProductDetailTitle = title
                this.$router.push({path: 'AllProductDetail', query: {AllProductID: id}})
            },

        }
    }
</script>

<style scoped>

</style>