<template>
    <div id="services"
    class="container-fluid has-action-bar bg-music">
        <ActionBar :title="title"></ActionBar>
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <span class="light-text font20px d-block">{{ $getText("HOME_PAGE_SERVICES_LIST_TITLE")}}</span>
                    <span class="gray-text font16px d-block pt-3">{{ $getText("HOME-PAGE-SERVICES-LIST-DESC")}}</span>
                </div>

            <div v-for="item in services" :key="item.id" class="col-lg-10 col-12 mx-auto">
                <div class=" dark-bg round10px d-flex p-2">
                    <div class="col-md-1 col-2">
                        <img :src="getImgUrl(item.src)" :alt="item.title" class="img-fluid">
                    </div>
                    <div class="col-md-11 col-10">
                        <h6 class="light-text font-weight-bold">
                            {{item.title}}
                        </h6>
                        <span class="light-text font12px gray-text">
                            {{item.desc}}
                        </span>
                        <span class="light-text font12px gray-text d-block">
                            {{item.desc2}}
                        </span>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <FooterMenu class="d-md-block d-none"/>
    </div>
</template>

<script>
    import ActionBar from "./ActionBar";
    import FooterMenu from "./FooterMenu";
    export default {
        name: "Services",
        components:{
            ActionBar,
            FooterMenu,
        },
        data: () => ({
            title:"خدمات",
            services: [],
        }),
        mounted() {
            this.services = this.$getServices();
        },
        methods:{
            getImgUrl(pic) {
                return require('../assets/img/' + pic);
            },
        }
    }
</script>

<style scoped>

</style>