<template>
    <v-navigation-drawer
            class="dark-bg"
            v-model="drawer"
            fixed
            left
            style="height:100vh !important;"
            temporary>
        <div class="container text-center ">
            <div class="row">
                <div class="col-12 ">
                    <img class="img-fluid"
                         src="../assets/img/Logo.png"
                         alt="لوگو"
                         width="50px"/>
                </div>

                <div class="col-12 pt-0">
                    <div class="row  px-3 align-items-center primary-text">
                        <div class="col-3 px-0 text-center">
                            <i class="fas fa-book gold-text"></i>
                        </div>
                        <div class="col-9 text-right p-0">
                            <router-link to="/Home" class="gray-text">{{ $getText("MENU_ITEM_HOME")}}</router-link>
                        </div>
                    </div>
                    <div class="row px-3 align-items-center primary-text">
                        <div class="col-3 pxy-0 text-center">
                            <i class="fas fa-phone-alt gold-text"></i>
                        </div>
                        <div class="col-9 text-right p-0">
                            <router-link to="/Services" class="gray-text">{{ $getText("MENU_ITEM_SERVICES")}}</router-link>
                        </div>
                    </div>
                    <div class="row px-3 align-items-center primary-text">
                        <div class="col-3 px-0 text-center">
                            <i class="fas fa-balance-scale gold-text"></i>
                        </div>
                        <div class="col-9 text-right p-0">
                            <router-link to="/CurrentProjects" class="gray-text">{{ $getText("MENU_ITEM_CURRENT-PROJECT")}}</router-link>
                        </div>
                    </div>
                    <div class="row px-3 align-items-center primary-text">
                        <div class="col-3 px-0 text-center">
                            <i class="fas fa-handshake gold-text"></i>
                        </div>
                        <div class="col-9 text-right p-0">
                            <router-link to="/AllProducts" class="gray-text">{{ $getText("MENU_ITEM_PRODUCTS")}}</router-link>
                        </div>
                    </div>
                    <div class="row px-3 align-items-center primary-text">
                        <div class="col-3 px-0 text-center">
                            <i class="fas fa-handshake gold-text"></i>
                        </div>
                        <div class="col-9 text-right p-0">
                            <router-link to="/ContactUs" class="gray-text">{{ $getText("MENU_ITEM_CONTACT")}}</router-link>

                        </div>
                    </div>
                    <div class="row px-3 align-items-center primary-text">
                        <div class="col-3 px-0 text-center">
                            <i class="fas fa-handshake gold-text"></i>
                        </div>
                        <div class="col-9 text-right p-0">
                            <router-link to="/AboutUs" class="gray-text">{{ $getText("MENU_ITEM_ABOUT")}}</router-link>

                        </div>
                    </div>
                    <div class="row px-3 align-items-center primary-text" >
                        <div class="col-3 px-0 text-center">
                            <i class="fas fa-handshake gold-text"></i>
                        </div>
                        <div class="col-9 text-right p-0">
                            <router-link to="/" class="gray-text">{{ $getText("MENU_ITEM_SUPPORT")}}</router-link>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </v-navigation-drawer>
</template>

<script>
    export default {
        name: "SidebarNavigation",
        props: {
            drawer: Boolean,
        },
        data: () => ({
            items: [
                {title: 'Home', icon: 'dashboard'},
                {title: 'About', icon: 'question_answer'},
            ],
        }),

        methods: {
            navigateTo(path) {
                if (this.$router.currentRoute.fullPath.indexOf(path) === -1) {
                    this.$router.push({path: path});
                }
            },

        }
    }
</script>

<style scoped>

</style>
