<template>
    <div id="websiteProject"
         class="container-fluid has-action-bar bg-music" v-if="isDataLoaded">
        <ActionBar :title="allWebsites.title"></ActionBar>
        <div class="container round10px p-3 mx-auto ">
            <div class="row align-items-center justify-content-center dark-bg round10px pt-5 pb-5">
                <div class="col-md-12 col-12 mx-auto text-center">
                    <img :src="getImgUrl('website/' + allWebsites.imageRoot + '/Website.png')"
                         alt="عکس"
                         class="img-fluid">
                </div>
                <hr>
                <div class="col-md-10 col-12 mx-auto">
                    <hr>
                    <h3 class="light-text mb-5 mt-5">
                        {{allWebsites.title}}
                    </h3>
                    <hr>
                    <h5 class="light-text mb-2">
                        {{allWebsites.summary}}
                    </h5>
                    <span class="gray-text text-justify">
                        {{allWebsites.description}}
                    </span>
                </div>
                <hr>
                <div class="col-12">
                    <div class="">
                        <img class="image img-fluid col-md-3"
                             v-for="(image, i) in images" :src="image" :key="i"
                             @click="index = i">
                        <vue-gallery-slideshow
                                :images="images"
                                :index="index"
                                @close="index = null">
                        </vue-gallery-slideshow>
                    </div>
                </div>
            </div>
        </div>
        <FooterMenu class="d-md-block d-none"/>
    </div>
</template>

<script>
    import ActionBar from "./ActionBar";
    import FooterMenu from "./FooterMenu";
    import VueGallerySlideshow from 'vue-gallery-slideshow';

    export default {
        name: "WebsiteDetail",
        components: {ActionBar, FooterMenu, VueGallerySlideshow},
        data: () => ({
            images: [],
            index: null,
            title: null,
            hasData: null,
            websites: [],
            allWebsites: {},
            isDataLoaded: false,

        }),
        mounted() {
            this.initData();
        },
        methods: {
            getImgUrl(pic) {
                return require('../assets/img/' + pic);
            },

            initData() {
                this.websites = this.$getWebsites();
                let id = this.$route.query.WebsitesID;

                for (let i = 0; i < this.websites.length; i++) {
                    if (this.websites[i].id.toString() === id) {

                        this.allWebsites = this.websites[i];
                        let tempGallery = [];
                        for (let j = 0; j < this.websites[i].gallery.length; j++) {
                            tempGallery.push(this.getImgUrl(
                                'website/' + this.allWebsites.imageRoot + '/' + this.websites[i].gallery[j]));
                        }
                        this.images = tempGallery;
                        this.isDataLoaded = true;
                        break;
                    }

                }

            },
        }
    }
</script>

<style scoped>

</style>