:root {
    --primary-color: #DCB067;
    --secondary-color: #2D2D2D;
    --third-color: #141414;
    --fourth-color: #fff;
    --bg-gradient: linear-gradient(50deg, rgba(236, 207, 136, 1), rgba(211, 167, 86, 1), rgba(217, 176, 98, 1), rgba(234, 190, 105, 1), rgba(249, 231, 143, 1), rgba(236, 207, 136, 1), rgba(174, 121, 54, 1));
    --gray-bg: #2D2D2D;
    --light-gray: #a7a6a6;
    --bg: #141414;
    --dark-bg:#1c1c1c;
}

@font-face {
    font-family: "IRANSans2";
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/IRANSansWeb_Medium.eot);
    src: url(../fonts/IRANSansWeb_Medium.eot?#iefix) format('embedded-opentype'),  /* IE6-8 */
    url(../fonts/IRANSansWeb_Medium.woff2) format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url(../fonts/IRANSansWeb_Medium.woff) format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url(../fonts/IRANSansWeb_Medium.ttf) format('truetype');
}



body {
    font-family: IRANSans2, tahoma, serif;
    overflow-x: hidden;
    background-color: #141414 !important;
    line-height: 31px !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 30px !important;
    margin: 0 !important;
}

.v-application a {
    color: unset ;
}

* {
    font-family: IRANSans, serif;
    font-size: 14px;
    line-height: 31px;
    margin: 0;
    padding: 0;
}

a:hover{
    text-decoration: none !important;
}
.dark-bg {
    background-color: var(--gray-bg);
}

.light-text {
    color: var(--fourth-color) !important;
}

.gray-text {
    color: var(--light-gray) !important;
}

.bg-music {
    background-image: url("../img/IZISYS-Home.png");
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}
.pointer{
    cursor: pointer !important;
}

.dark-bg{
    background-color: var(--dark-bg) !important;
}
.gold-text{
    color: var(--primary-color) !important;
}
.fourth-color-text {
    color: var(--fourth-color);
}
.has-action-bar{
    padding-top: 0px;
}
#home.has-action-bar{
    padding-top: 0px;
}
.font10px {
    font-size: 10px;
}


.font12px {
    font-size: 13px;
}

.font16px {
    font-size: 16px;
}

.font19px {
    font-size: 19px;
}

.font20px {
    font-size: 20px;
}

.font24px {
    font-size: 24px;
}



.line-height-2 {
    line-height: 2;
}

.font22px {
    font-size: 22px;
}

.font14px {
    font-size: 15px;
}

.v-btn__content {
    transform: translateY(2px);
}

.height-desc {
    min-height: 155px !important;
}

.btn-gradient {
    padding: 6px 14px !important;
    background-image: var(--bg-gradient) !important;
    border-radius: 8px !important;
    line-height: 25px !important;
    height: 35px !important;
    display: inline-block;
    color: #000 !important;
    margin-top: 10px !important;
    font-weight: unset !important;
    letter-spacing: unset !important;
}

.round {
    border-radius: 15px;
}

.round5px {
    border-radius: 5px;
}

.round12px {
    border-radius: 12px;
}

.round10px {
    border-radius: 10px;
}
.bg-gradient{
    background-image: var(--bg-gradient) !important;
}

.text-over-flow {
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
    text-overflow: ellipsis;
    direction: rtl;
}

@media (max-width: 456px) {
    .font20px {
        font-size: 16px !important;
    }

    .font16px {
        font-size: 14px !important;
    }
    .font12px {
        font-size: 12px !important;
    }

    .btn-gradient {
        padding: 6px 14px;
        background-image: var(--bg-gradient);
        border-radius: 8px;
        line-height: 23px;
        height: 30px;
        display: inline-block;
        color: #000 !important;
        font-size: 12px;
    }
    h6{
        font-size: 13px !important;
    }
    h5{
        font-size: 15px !important;
        font-weight: bold !important;
    }
}

